assets/frames
assets/PixelCrawler
assets/Monsters_Creatures_Fantasy/Goblin
assets/Monsters_Creatures_Fantasy/Mushroom
assets/Monsters_Creatures_Fantasy/Skeleton
assets/Monsters_Creatures_Fantasy/All Characters.png